a,
article,
aside,
b,
body,
button,
dd,
div,
dl,
dt,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
li,
nav,
p,
section,
select,
span,
textarea,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: 400;
  font-family: Microsoft Yahei;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
img {
  position: relative;
}
.mask {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}
.d30775 {
  color: #d30775;
}
.dadada {
  color: #dadada;
}
.hidden {
  display: none !important;
}
.point_right_arrow {
  display: inline-block;
  width: 0.14rem;
  height: 0.25rem;
  background-size: 100%;
  margin-left: 0.1rem;
}
.placeholderStyle {
  color: #bebebe;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: #f1f1f1;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px transparent;
  border-radius: 10px;
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
input[type="button"],
input[type="reset"],
input[type="search"],
input[type="submit"] {
  -webkit-appearance: none;
}
input {
  font-size: 0.28rem;
}
textarea {
  -webkit-appearance: none;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
}
.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.margin {
  margin: 0 auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.from-bottom-enter-active {
  -webkit-animation: popInBottom 0.3s both;
  animation: popInBottom 0.3s both;
}
.from-bottom-leave-active {
  -webkit-animation: popInBottom 0.3s reverse;
  animation: popInBottom 0.3s reverse;
}
@-webkit-keyframes popInBottom {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.x_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: box;
  -ms-justify-content: center;
  -o-justify-content: center;
}
.y_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: box;
  -ms-align-items: center;
  -o-align-items: center;
}
.xy_flex,
.y_flex {
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.xy_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.left_flex {
  -webkit-box-direction: normal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.left_flex,
.right_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
}
.right_flex {
  -webkit-box-pack: end;
  -webkit-box-direction: reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.up_flex {
  -webkit-box-direction: normal;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.down_flex,
.up_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
}
.down_flex {
  -webkit-box-pack: end;
  -webkit-box-direction: reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.around_x_flex {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -moz-box-pack: space-around;
  -webkit--moz-box-pack: space-around;
  box-pack: space-around;
}
.around_x_flex,
.between_x_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.between_x_flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -moz-box-pack: space-between;
  -webkit--moz-box-pack: space-between;
  box-pack: space-between;
}
.city_container {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.city_container .page_location_name {
  width: 100%;
  color: #666;
  font-size: .24rem;
  background: #fff;
  padding: .05rem 0;
  padding-left: .2rem;
  border: none;
}
.city_container .page_location_name_special {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.city_container .firstLetter_container {
  font-size: .24rem;
  color: #666;
  width: .6rem;
  position: absolute;
  right: .2rem;
  top: 20%;
  z-index: 3;
}
.city_container .city_list_container {
  width: 100%;
  padding: .15rem .2rem;
  padding-top: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  background: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}
.city_container .city_list_container .history_city_container > li:first-child {
  margin-right: .26rem !important;
}
.city_container .city_list_container .square_item {
  width: 30%;
  height: .8rem;
  border: 1px solid #ddd;
  border-radius: .1rem;
}
.city_container .city_list_container .square_item .loaction_icon {
  width: .24rem;
  height: .28rem;
  background-size: 100% 100%;
  margin-right: .1rem;
}
.city_container .city_list_container .page_location_name {
  padding-left: 0;
}
.city_container .city_list_container .hot_city_container {
  width: 90%;
}
.city_container .city_list_container .hot_city_container .square_item {
  margin-right: .26rem;
  margin-bottom: .26rem;
}
.city_container .city_list_container .hot_city_container .square_item:nth-child(3n+1) {
  margin-right: 0;
}
.city_container .anchor-pop {
  width: .9rem;
  height: .9rem;
  font-size: .28rem;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  line-height: .9rem;
  text-align: center;
  border-radius: 4px;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.5);
}
.city_container .filter_container {
  width: 100%;
  position: absolute;
  top: 1rem;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  z-index: 11;
  padding-left: .2rem;
  box-sizing: border-box;
}
.city_container .city_item {
  width: 90%;
  height: .88rem;
  line-height: .88rem;
  border-bottom: 1px solid #ddd;
}
.archor-pop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
  display: none;
  z-index: 99;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  line-height: 60px;
  color: #fff;
}
